/* 
#003f5c
#58508d
#bc5090
#ff6361
#ffa600
 */

#chart1 {
	height: 20rem;
	width: 30rem;
}

#chart1 .barLabels,
#chart1 .axisTick,
#chart1 .legendMark {
	font-family: "Proxima Nova", "Helvetica Neue", "Open Sans", sans-serif;
	font-size: 1rem;
}

body {
	display: flex;
	flex-direction: row;
	column-gap: 2em;
	flex-wrap: wrap;
}
