body {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	font-family: "Proxima Nova", "Helvetica Neue", "Open Sans", sans-serif;
	text-align: center;
	max-width: min(90vw, 70rem);
	margin: 2rem auto;
}

h2 {
	margin-block-end: 1rem;
	margin-block-start: 0.85;
}

p {
	margin-block-start: 0;
	margin-block-end: 1rem;
	font-size: 1.1rem;
	line-height: 1.6rem;
}

.chartContainer {
	width: 100%;
	margin-bottom: 1rem;
}

#chart1,
#chart2,
#chart2B {
	height: 20rem;
	width: 30rem;
	margin-left: auto;
	margin-right: auto;
}

.barLabels,
.axisTick,
.legendMark {
	font-family: "Proxima Nova", "Helvetica Neue", "Open Sans", sans-serif;
	font-size: 1rem;
}

#chart2 .x-axis .axisTick,
#chart2B.x-axis .axisTick {
	font-size: 0.85rem;
}