/* 
#003f5c
#58508d
#bc5090
#ff6361
#ffa600
 */

 .chartContainer {
	 width: 100%;
	 margin-bottom: 2rem;
 }

#chart1, #chart2, #chart2B {
	height: 20rem;
	width: 30rem;
	margin-left: auto;
	margin-right: auto;
}

.barLabels,
.axisTick,
.legendMark {
	font-family: "Proxima Nova", "Helvetica Neue", "Open Sans", sans-serif;
	font-size: 1rem;
}

#chart2 .x-axis .axisTick, #chart2B.x-axis .axisTick {
	font-size: 0.85rem;
}

body {
	display: flex;
	flex-direction: row;
	column-gap: 2em;
	flex-wrap: wrap;
}
